.box1{
    width: 50%;
    /* margin: 0;
    padding: 0;
    box-sizing:border-box ; */
    background-color: white;
    height: 100vh;
    /* display: inline; */

}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.box2{
    width: 50%;
    height: 100vh;
    background-color: white;
    /* display: inline; */
    padding-top: 50px;
    
}
.main{
    height: 100vh;
    /* display: inline; */
    width: 100%;
    display: flex;
}
.form1{
    border: 1px solid darkgray;
    text-align: center;
    width: 60%;
    height: 420px;
    align-items: center;
}
.ins{
    width: 35%;
    padding-top: 50px;
}
.inp{
    width: 75%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid darkgray;

}
.inp1{
    width: 75%;
    height: 30px;
    border-radius: 6px;
    background-color: rgb(35, 152, 192);
    color: white;
    border: 1px solid darkgray;
}
.or{
    position: relative;
    bottom: 12px;
    background-color: white;
    width: 25px;
    height: 15px;
}
.hr{
    width: 75%;
}
.img1{
    padding-left: 210px;
}
.box3{
    width: 60%;
    height: 50px;
    border: 1px solid darkgray;
    text-align: center;
}
h3{
    color: rgb(131, 129, 129);
    position: relative;
    top: 10px;
}
.h4{
    text-align: center;
    color: rgb(92, 89, 89);
    position: relative;
    right: 20%;
}
.img2{
    width:35% ;
    height:50px ;
    
}
.imagebox{
    width: 60%;
   text-align: center;
   /* position: relative;
   right:35px; */
}
.signup a{
    text-decoration: none;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    list-style-type: none;
    margin: 5px;
}
ul{
 width: 90%;
 justify-content: space-evenly;
}
.link{
    color: rgb(116, 114, 114);
}
.e{
    color: white;
}
.r{
    color: rgb(44, 177, 221);
}